version: "3.9"
services:
  nginx:
    build: ./nginx/
    ports:
      - 9090:80

    volumes:
      - ./src/:/var/www/html/

  php:
    build: ./src/
    expose:
      - 9000
    volumes:
      - ./src/:/var/www/html/